body{
	hyphens: none;
	height: 100vh;
	}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 25px 50px;
	position: relative;
}


nav{
	
	margin: 50px 100px 0px 100px;
	text-align: right;

	font-family: 'Helvetica';
	font-size: 25px;
}

a{
	color: black;
	text-decoration: none;
	font-weight: 100;
	transition: 0.35s;
}

a.box1{
	padding: 0 50px 0 50px;
}

a.back{
	font-size: 15pt;
}

a:hover{
	color:#e1ff00;
}

div.round{
	width: 100px;
	height: 100px;
	background-color: #e1ff00;
	border-radius: 50%;
	position: fixed;
}


p.intro{
	margin: 100px 80px 80px 190px;
	width: 1400px;


	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 320;
	font-size: 180px;
	line-height: 180px;

	color: #000000;
}

div.round{
	margin: 0px 0px 0px 190px;
	width: 100px;
	height: 100px;
	background-color: #e1ff00;
	border-radius: 50%;
	positon:  absolute;
	top: 200px;
	left: 200px;
	position: sticky;
}


p.about{
	margin: 80px 80px 0px 0px;
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 400;
	line-height: 1.4;
	text-align: left;
}

p.skills{
	font-family: 'Helvetica';
	font-size: 20px;
	line-height: 1.2;
	font-weight: 200;
	text-align: left;
	hyphens: auto;
}

p.contact{
	font-family: 'Helvetica';
	font-size: 20px;
	line-height: 1.2;
	font-weight: 200;
	text-align: left;
	hyphens: auto;
}

p.workcredit{
	font-family: 'Helvetica';
	font-size: 20px;
	line-height: 1.2;
	font-weight: 200;
	text-align: left;
	hyphens: auto;
}

section{

	padding: 20px 60px 0 60px;
}


div.uiux { 
	float: left; 
	width: 35%;
	height: 870px;
	overflow: scroll;
	
} 
div.graphic { 
	float: left; 
	width: 35%;
	height: 870px;
	overflow: scroll;
	
} 
div.otherwork { 
	float: right; 
	width: 30%; 
	height: 870px;
	overflow: scroll;
	
}

div.skills{
	float: left; 
	width: 20%;
	height: 870px;
	overflow: inherit;
	
}
div.interns{
	float: right; 
	width: 75%; 
	height: 870px;
	overflow: scroll;
	
}

div.contact{
	float: left; 
	width: 20%;
	height: 870px;
	overflow: inherit;
	
}
div.about{
	float: right; 
	width: 75%; 
	height: 870px;
	overflow: scroll;
	
}

div.work{
	float: right; 
	width: 75%; 
	height: 870px;
	overflow: scroll;
	
}

div.workcredit{
	float: left; 
	width: 20%;
	height: 870px;
	overflow: auto;
	
}

p{
	margin: 20px 20px 20px 50px;
	font-family: 'Helvetica';
	font-size: 25px;
	line-height: 1.2;
	font-weight: 200;
	text-align: left;
	hyphens: auto;
	padding: 0 0 40px 0;
}

p.work{
	font-family: 'Helvetica';
	font-size: 50px;
	line-height: 1.2;
	font-weight: 400;
	text-align: left;
	margin: 0 20px 20px 50px;
}


a.name{
	font-family: 'Helvetica';
	font-size: 25px;
	line-height: 1.2;
	font-weight: 400;
	text-align: left;
	
}


span.date{
	font-family: 'Helvetica';
	font-size: 20px;
	line-height: 1.2;
	font-weight: 400;
	text-align: right;
	text-decoration: none;
}

span.skills{
	font-family: 'Helvetica';
	font-size: 20px;
	line-height: 1.2;
	font-weight: 400;
	text-align: left;
	text-decoration: none;
	font-style: italic;
}

img{
	float: right;
	width: 220px;
	margin: 0pt 0 0 0;
}

img.work{
	width: 100%;
}
span.contact{
	font-family: 'Helvetica';
	font-size: 20px;
	line-height: 1.2;
	font-weight: 400;
	text-align: left;
	text-decoration: none;
	font-style: italic;

